<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        /* Placeholder for Home section */
        #home-placeholder {
            height: 1vh;
            /* Adjust as needed */
        }

        /* Sticky navbar styles */
        .navbar-sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        /* Card styles */
        .card-shadow {
            border: none;
        }

        .card-body {
            background-color: #f8f9fa; /* Change the background color as needed */
        }

        /* Adjust padding for sections to accommodate fixed navbar */
        section {
            padding-top: 56px; /* Height of the navbar */
        }
    </style>
</head>

<body>

    <!--NAVBAR-->
   <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">


        <b class="bold">TransiTrace</b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
          </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-------------HOME-------------->
    <div id="home-placeholder"></div>

    <!--services-->
    <section id="service">
        <div class="row">
            


            <div class="col-md-6 my-4">
                <div class="card card-shadow">
                    <div class="inner">
                        <img src="list.jpg" class="card-img-top rounded">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Search User</h5>
                        <!----          <p class="card-text">Add, Update, Read, Delete Buses</p>-->
                    </div>
                </div>
            </div>


            <div class="col-md-6 my-4">
                <div class="card card-shadow">
                    <div class="inner">
                        <img src="user.jpeg" class="card-img-top rounded">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Remove Driver</h5>
                        <!--       <p class="card-text">Add, Update, Read, Delete Buses</p>-->
                    </div>
                </div>
            </div>

            
        </div>
    </section>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Scroll to services section after 3 seconds
            setTimeout(function () {
                document.getElementById('service').scrollIntoView({ behavior: 'smooth' });
            }, 3000);
        });
    </script>
</body>

</html>
