<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:indigo;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-20">
            <img style="width: 80px; height: 40px;" src="IMG/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3">Transitrace</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Componenets
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-user"></i>
            <span>Manage Drivers</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-pare   nt="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Components:</h6>
                <a class="collapse-item" href="/adddriver">Add Driver</a>
                <a class="collapse-item" href="/updatedriver">Update Driver</a>
                <a class="collapse-item" href="/searchdriver">Search Driver</a>
                <a class="collapse-item" href="/deletedriver">Delete Driver</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa-sharp fa-thin fa-bus"></i>
            <span>Manage Buses</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-pare   nt="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Components:</h6>
                <a class="collapse-item" href="/addbus">Add Bus</a>
                <a class="collapse-item" href="/updatebus">Update Bus</a>
                <a class="collapse-item" href="/searchbus">Search Bus</a>
                <a class="collapse-item" href="/deletebus">Delete Bus</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/complaints">
            <i class="fa-regular fa-envelope"></i>
            <span>Complaints</span></a>
    </li>
   

    <li class="nav-item">
        <a class="nav-link" href="/feedback">
            <i class="fas fa-fw fa-user"></i>
            <span>Feedbacks</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/emergency">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Emergency</span></a>
    </li>

    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->
